.event-description {
    display: flex;
    margin: 10px;
    height: 100px;
    width: 60%;
    border-radius: 25px;
    width: 90%;
    margin-bottom: 3%;
    margin-top: 2%;
    align-items: center;
    justify-content: center;
    flex-direction: row; 
}

.report-type {
    margin: 10px;
}

.action-area {
    display: flex;
    flex-direction: column;
    min-width: 80%; 

}

#report-info {
    display: flex;
    flex-direction: column;
}

.report-container {
    display: flex;
    flex-direction: column;
}

.buttons-section {
    display: flex;
    flex-direction: column;
    min-width: 80%;
}

.buttons-inside-section {
    display: flex;
    flex-direction: row;
}

.button-sizer {
    width: 50%;
    max-width: none;
    align-items: center;
  justify-content: center;
}

.form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}
