#sign-up-form {
    margin-top: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#sign-up-buttons {
    display: flex;
    flex-direction: column-reverse;
}